.article-slides {
  height: 100% !important;
  width: 100% !important;
  overflow-y: visible !important;
  margin-bottom: 1rem !important;
}

@media (min-width: 1000px) {
  .article-slides .swiper-slide {
    height: 28.875rem !important;
    margin-bottom: 0 !important;
    cursor: pointer !important;
  }

  .article-slides .swiper-slide:last-child {
    margin-right: 0 !important;
  }
}