.service-slides {
  height: 100% !important;
  width: 100% !important;
  overflow-y: visible !important;
  margin-bottom: 1rem !important;
  display: flex !important;
}

.service-slides .swiper-slide {
  width: 19rem !important;
  height: 19rem !important;
  display: flex !important;
  align-items: flex-end !important;
  position: relative !important;
  border-radius: 0.25rem !important;
  overflow: hidden !important;
}

@media (min-width: 1000px) {
  .service-slides .swiper-slide {
    height: 27.875rem !important;
    flex: 1 1 0% !important;
    margin-bottom: 0 !important;
    margin-right: 1.5rem !important;
  }

  .service-slides .swiper-slide:last-child {
    margin-right: 0 !important;
  }
}