.testimonial-slides {
  height: auto !important;
  width: 100% !important;
  overflow-y: visible !important;
}

@media (min-width: 360px) {
  .testimonial-slides {
    padding: 0 0.25rem 0 0 !important;
  }
}

@media (min-width: 768px) {
  .testimonial-slides {
    padding: 0 1.5rem !important;
  }
}

@media (min-width: 1024px) {
  .testimonial-slides {
    width: 24rem !important;
    padding: 0 0.5rem 0 2rem !important;
  }
}

.testimonial-slides .swiper-slide {
  background-color: #fff !important;
  width: 100% !important;
  height: fit-content !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
  padding: 1.5rem !important;
  border: 0.5px solid #74777f !important;
  border-radius: 0.25rem !important;
  position: relative !important;
  z-index: 2 !important;
  cursor: pointer !important;
}

.testimonial-slides .swiper-pagination {
  position: absolute !important;
  bottom: -1.5rem !important;
}

.testimonial-slides .swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-opacity: 1 !important;
  width: 0.625rem !important;
  height: 0.3125rem !important;
  border-radius: 6.25rem !important;
  background: #191c1d !important;
  margin: 0 0.25rem !important;
  transition: all 0.3s !important;
}

.testimonial-slides .swiper-pagination-bullet-active {
  width: 2.1875rem !important;
  border-radius: 0.625rem !important;
}
